body{
  background-color: black;
  color: white;
}
img {
  width: 200px;
  height: auto;
  border: 2px solid yellow;
  border-radius: 10px;
}

.text{
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin: auto;
  padding: 30px;
  gap: 2rem;
  overflow: hidden;
  max-width: 1300px;
}
.second{
  max-width: 250px;
  margin: 20px;
  transition: transform .4s; /* Animation */
}
.second:hover {
  transform: scale(1.1);
}
.but{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.btn{
  margin: 20px;
  font-weight: bolder !important;
  font-size: large !important;
}
